{% extends 'base.html.twig' %}
{% block title %}Blog - Admin{% endblock %}
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="pull-right">
                {% if app.user %}
                    Zalogowany jako <span class="user-name">{{ app.user }}</span> | <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 80px">
        <div class="text-right">
            <a href="admin/post/add" class="btn btn-primary" role="button">Dodaj artykuł</a>
        </div>
        
        <ul class="list-group">
            {% for item in posts %}
                <li class="list-group-item row">
                    <div class="col-md-4">
                        {{ item.title }}
                    </div>
                    <div class="col-md-2">
                        {{ item.createdAt|date("d-m-Y H:i:s") }}
                    </div>
                    <div class="col-md-3">
                        {% if item.status == 1 %}
                            Opublikowany
                        {% elseif item.status == 2 %}
                            Nieopublikowany
                        {% else %}
                            Opóźniona publikacja
                            {{ item.publish|date("d-m-Y H:i:s") }}
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if item.user == app.user %}
                            <a class="btn btn-success" href="">podgląd</a>
                            <a class="btn btn-primary" href="admin/post/edit/{{ item.user.id }}">edytuj</a>
                            <a class="btn btn-danger" href="admin/post/delete/{{ item.user.id }}">usuń</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
